
<div class="title-block">
  <h3 class="title">
    Страница планирования <span class="sparkline bar"></span>
  </h3>
</div>
<div
  *ngIf="!isLoaded">
  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Расходы</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Общий остаток: <span class="text-success">78 999.21 Р</span>
          </h5>
        </div>
        <div class="card-block">
          <div *ngFor="let c of _categories" class="row">
            <div class="col-xs-6">
              <div class="n-progress">
                <div
                  [ngClass]="'progress-bar ' + (balances[c.id] | redloCategoryColor)"
                  [ngStyle]="{'width': (balances[c.id] | redloCategoryProgress)}">
                  <span>{{c.name}}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <p>
                <span
                  [ngClass]="'text-' + (balances[c.id] | redloCategoryColor)">{{balances[c.id].outcome}}</span>
                из
                <span class="text-primary">{{balances[c.id].total}}</span>
                |
                осталось <span
                [ngClass]="'text-' + (balances[c.id] | redloCategoryColor)">{{balances[c.id].total - balances[c.id].outcome}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
