<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section">
  <div
    *ngIf="!isLoaded"
  >
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
  </div>
  <div
    class="row"
    *ngIf="isLoaded"
  >
    <div class="col-md-6">
      <redlo-add-event [categories]="_categories"
                       (onEventAdded)="onEventAdded($event)"></redlo-add-event>
    </div>
    <div class="col-md-6">
      <redlo-add-category (onCategoryAdded)="onCategoryAdded($event)"></redlo-add-category>
    </div>
  </div>
  <div
    *ngIf="!isLoaded"
  >
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
  </div>
  <div
    class="row"
    *ngIf="isLoaded"
  >
    <div class="col-md-6">
      <redlo-edit-category [categories]="_categories"
                           (onCategoryChanged)="onCategoryChanged($event)"></redlo-edit-category>
    </div>
  </div>
</section>
